<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.fatangare.logcatviewer"
      android:versionCode="1"
      android:versionName="1.0">

    <!-- 外部存储读写权限 -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <provider
                android:name="android.support.v4.content.FileProvider"
                android:authorities="${applicationId}.logcatprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/provider_paths"/>
        </provider>
        <provider
            android:name="com.fatangare.logcatviewer.provider.FloatingTouchInitProvider"
            android:authorities="${applicationId}.logcatviewer.provider"
            android:exported="false"
            android:initOrder="110" />

        <service android:name="com.fatangare.logcatviewer.service.LogcatViewerService"
            android:label="LogcatLoggerService"></service>
        <service android:name="com.fatangare.logcatviewer.service.LogcatViewerFloatingView"
            android:label="LogcatLoggerFloatingView" > </service>
    </application>

</manifest> 
